name: Release Charts

on:
  push:
    paths:
      - charts/**
      - .github/workflows/helm.yml
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.7.2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.2.0
      - name: Run chart-testing (lint)
        run: ct lint --all
      - name: Create kind cluster
        uses: helm/kind-action@v1.2.0
      - name: Run chart-testing (install)
        run: ct install --all
      - name: Remove helm chart
        run:  helm uninstall helm-s3-proxy
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.0.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
